{% extends "economic_model/base.html"%}

{% block head %}
<title>Economic Model</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% endblock head %}

{% block title %}
  <h1 class="h2">Macroeconomics for Professionls</h1>
{% endblock title %}

{% block content %}
<div class="col-md-12">

<strong>Overview</strong>
<ul>
  <li>The objective of the business of macro is sensible policy advice or investment decisions.</li>
  <li>Examples:</li>
  <ul>
    <li>How do you assess the global competivness of an economy?</li>
    <li>Can you identify an economy vulnerable to crisis, and what does that look like?</li>
    <li>How do you balance short-term cyclical considerations and long-term sustainability?</li>
  </ul>

  <li>Industries</li>
  <ul>
  <li>Finance</li>
  <ul><li>Portfolio Managers</li></ul>
  <li>Management</li>
  <li>Government</li>
  <li>Public Policy</li>
  </ul>
  <li>Critical skills</li>
  <ul>
    <li>Reading the data</li>
    <ul>
      <li>National Income Accounts</li>
      <li>Balance of Payments Account (National Flow)</li>
      <li>International Ivestment Position (National Stock)</li>
      <li>Government Balance Sheet</li>
      <li>Government Flow accounts</li>
      <li>Central Bank Balance Sheet</li>
      <li>Central Bank Flow accounts</li>
      <li>Banking Sector Balance Sheet</li>
      <li>Banking Sector Flow accounts</li>
    </ul>
    <li>Understanding Macro constraints</li>
    <ul>
      <li>Macro identities</li>
    </ul>
    <li>Charaterizing cross-border linkages</li>
    <ul>
      <li>international trade in goods and services</li>
      <li>financial markets</li>
    </ul>
    <li>Respecting macro sustainability</li>
    <li>Considering policy choices</li>
    <ul>
      <li>Governments almost always adopt couter-cyclical polices</li>
    </ul>
    <li>Identifying vulnerabilities/crisis triggers</li>
    <ul>
      <li>Goal is to forestall crises</li>
      <li>macroprudential/microprudential</li>
    </ul>
  </ul>
  <li>Products</li>
  <ul>
  <li>Developing analytical toolsfor assessing a country's macro-econ outlook</li>
  <li>Communicating assessment in simplest terms</li>
  </ul>
  <li>Areas of application</li>
  <ul>
  <li>Media commentary</li>
  <li>Political campaigns</li>
  <li>Debates</li>
  <li>Policy Development</li>
  </ul>
</ul>

</div>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for post in posts %}
      <h1>{{ post.author }}</h1>
      <p>{{ post.content }}</p>
    {% endfor %}
    <p>
      <a href="md/">Model Development</a>
    </p>
  </body>
</html> -->
